.card {
  border-radius: var(--common-bdr-radius);
  box-shadow: var(--common-box-shadow);
  height: 20vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-clr-sec);
}

@media (max-width: 600px) {
  /* phones only */
}

@media (min-width: 601px) {
  /* common to tablets and desktops */
  .card {
    cursor: pointer;
    height: 50vh;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  /* tablets only */
}

@media (min-width: 901px) {
  /* large screens only */
}

@media (prefers-color-scheme: dark) {
  .card {
    filter: brightness(0.8) contrast(1.2);
  }
}
