.gallery {
  border-radius: var(--common-bdr-radius);
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-clr-sec);
}

.progress {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 700;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  height: 20px;
  width: 150px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 20px;
  background-color: var(--bg-clr-sec);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

progress[value]::-webkit-progress-value {
  border-radius: 20px;
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);
}

/* progress style credit: https://css-tricks.com/html5-progress-element */

.currentScore {
  color: var(--marvel-logo-red);
  font-size: 1.2rem;
}
