dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: var(--common-bdr-radius);
  box-shadow: var(--common-box-shadow);
  transform: translate(-50%, -50%);
  margin: 0;
  border: none;
  width: min(80vw, 700px);
  text-align: center;
  animation: growIn 300ms ease-in-out;
  background-color: var(--bg-clr-sec);
  color: inherit;
  background-size: cover;
  background-position: center;
  padding: 0;
}

dialog.win {
  background-image: url('/winBG.webp');
}

dialog.loss {
  background-image: url('/lossBG.webp');
}

dialog h2 {
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 600px) {
  /* phones only */
}

@media (min-width: 601px) {
  /* common to tablets and desktops */
  dialog {
    height: 50vh;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  /* tablets only */
}

@media (min-width: 901px) {
  /* large screens only */
}
